.app.dark {
  background-color: #333;
  color: grey;

  .chartGrid {
    stroke: rgb(228, 225, 225);
  }

  .table {
    background-color: #333;

    .tableCell {
      color: grey;
    }
  }

  .navbar {
    color: #999;
    border-color: grey;

    .search {
      border-color: #999;
    }
  }

  .sidebar {
    background-color: #333;
    border-color: grey;

    .top {
      .logo {
        color: grey;
      }
    }
    hr {
      border-color: grey;
    }

    ul {
      li {
        &:hover {
          background-color: lightgrey;
        }

        .icon {
          color: grey;
        }
      }
    }
  }

  .datatable {
    .datagrid {
      color: grey;
      border: none;

      .viewButton,
      .deleteButton,
      .cellWithStatus {
        color: grey;
        border: none;
      }
    }
  }

  input {
    background-color: transparent;
  }
}
